@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Berkshire Swash", cursive;
}

body {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 70px 3fr 1fr;
  grid-template-areas: ". h1 ." "dropzone1 playfield dropzone3" "helper dropzone2 .";
  justify-items: center;
  align-items: center;
  z-index: 100;
  background-color: #000;
}

.background-image {
  position: absolute;
  background-image: url("https://webstockreview.net/images/clipart-forest-dark-forest-18.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  opacity: 0.5;
}

#playfield {
  grid-area: playfield;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: "tile1 tile2 tile3 tile4 tile5 tile6 tile7 tile8 tile9 tile10 tile11 tile12" "tile13 tile14 tile15 tile16 tile17 tile18 tile19 tile20 tile21 tile22 tile23 tile24" "tile25 tile26 tile27 tile28 tile29 tile30 tile31 tile32 tile33 tile34 tile35 tile36" "tile37 tile38 tile39 tile40 tile41 tile42 tile43 tile44 tile45 tile46 tile47 tile48";
}

.tile1 {
  grid-area: tile1;
}

.tile2 {
  grid-area: tile2;
}

.tile3 {
  grid-area: tile3;
}

.tile4 {
  grid-area: tile4;
}

.tile5 {
  grid-area: tile5;
}

.tile6 {
  grid-area: tile6;
}

.tile7 {
  grid-area: tile7;
}

.tile8 {
  grid-area: tile8;
}

.tile9 {
  grid-area: tile9;
}

.tile10 {
  grid-area: tile10;
}

.tile11 {
  grid-area: tile11;
}

.tile12 {
  grid-area: tile12;
}

.tile13 {
  grid-area: tile13;
}

.tile14 {
  grid-area: tile14;
}

.tile15 {
  grid-area: tile15;
}

.tile16 {
  grid-area: tile16;
}

.tile17 {
  grid-area: tile17;
}

.tile18 {
  grid-area: tile18;
}

.tile19 {
  grid-area: tile19;
}

.tile20 {
  grid-area: tile20;
}

.tile21 {
  grid-area: tile21;
}

.tile22 {
  grid-area: tile22;
}

.tile23 {
  grid-area: tile23;
}

.tile24 {
  grid-area: tile24;
}

.tile25 {
  grid-area: tile25;
}

.tile26 {
  grid-area: tile26;
}

.tile27 {
  grid-area: tile27;
}

.tile28 {
  grid-area: tile28;
}

.tile29 {
  grid-area: tile29;
}

.tile30 {
  grid-area: tile30;
}

.tile31 {
  grid-area: tile31;
}

.tile32 {
  grid-area: tile32;
}

.tile33 {
  grid-area: tile33;
}

.tile34 {
  grid-area: tile34;
}

.tile35 {
  grid-area: tile35;
}

.tile36 {
  grid-area: tile36;
}

.tile37 {
  grid-area: tile37;
}

.tile38 {
  grid-area: tile38;
}

.tile39 {
  grid-area: tile39;
}

.tile40 {
  grid-area: tile40;
}

.tile41 {
  grid-area: tile41;
}

.tile42 {
  grid-area: tile42;
}

.tile43 {
  grid-area: tile43;
}

.tile44 {
  grid-area: tile44;
}

.tile45 {
  grid-area: tile45;
}

.tile46 {
  grid-area: tile46;
}

.tile47 {
  grid-area: tile47;
}

.tile48 {
  grid-area: tile48;
}

#helper {
  grid-area: helper;
  z-index: 100;
}
#helper img {
  width: 100px;
}

h1 {
  display: flex;
  align-items: center;
  grid-area: h1;
  color: #ffffff;
  z-index: 100;
}

.tile {
  width: 70px;
  height: 135px;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
  justify-content: center;
  font-size: 1.5rem;
  z-index: 100;
}

.tile::after {
  width: 70px;
  height: 135px;
  content: "";
  position: absolute;
  background-image: url("img/leaf-pattern.webp");
  opacity: 0.1;
}

.dropped {
  width: 70px;
  height: 75px;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
  z-index: 5;
  justify-content: center;
}

.dropped::after {
  width: 70px;
  height: 75px;
  content: "";
  position: absolute;
  background-image: url("img/leaf-pattern2.webp");
  opacity: 0.1;
  background-position: 20px 3px;
}

.symbols {
  width: 50%;
  display: flex;
}

.symbols img {
  width: 100%;
}

.icons {
  width: 50%;
}

.icons img {
  width: 100%;
}

.icons-container {
  display: flex;
  height: 50px;
}

.droparea:-moz-drag-over {
  opacity: 0.5;
}

.dropzone {
  display: flex;
  border-radius: 10px;
}

.hide {
  transform: translateX(-9999px);
}

#dropzone1 {
  display: flex;
  padding: 5px;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 5px;
  grid-area: dropzone1;
  left: 0;
  width: 226px;
  height: 600px;
  background-color: #734046;
  position: relative;
}
#dropzone1::after {
  content: "Player 1";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  color: #ffffff;
  opacity: 0.3;
}

#dropzone2 {
  display: flex;
  padding: 5px;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 5px;
  grid-area: dropzone2;
  bottom: 0;
  width: 600px;
  height: 200px;
  background-color: #e79e4f;
  position: relative;
  margin: 20px;
}
#dropzone2::after {
  content: "Player 2";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  color: #ffffff;
  opacity: 0.3;
}

#dropzone3 {
  gap: 5px;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  grid-area: dropzone3;
  right: 0;
  width: 226px;
  height: 600px;
  background-color: #a05344;
  position: relative;
}
#dropzone3::after {
  content: "Player 3";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  color: #ffffff;
  opacity: 0.3;
}

/*# sourceMappingURL=style.css.map */
