body
    display: grid
    grid-template-columns: 1fr 3fr 1fr
    grid-template-rows: 3fr 1fr
    grid-template-areas: "dropzone1 playfield dropzone3" ". dropzone2 ."
#playfield
    grid-area: playfield
    display: grid
    grid-template-columns: repeat(12, 1fr)
    grid-template-rows: repeat(4, 1fr)
    grid-template-areas: "tile1 tile2 tile3 tile4 tile5 tile6 tile7 tile8 tile9 tile10 tile11 tile12" "tile13 tile14 tile15 tile16 tile17 tile18 tile19 tile20 tile21 tile22 tile23 tile24" "tile25 tile26 tile27 tile28 tile29 tile30 tile31 tile32 tile33 tile34 tile35 tile36" "tile37 tile38 tile39 tile40 tile41 tile42 tile43 tile44 tile45 tile46 tile47 tile48"

@mixin tileGenerator()
    @for $var from 1 through 48
        .tile#{$var}
            grid-area: tile#{$var}

@include tileGenerator()

    

.tile
    width: 70px
    height: 150px
    display: flex
    flex-wrap: wrap
    border: 1px solid black
.symbols
    width: 50%
    display: flex
.symbols img
    width: 100%
.icons
    width: 50%
.icons img
    width: 100%
.icons-container
    display: flex
    height: 50px
.droparea:-moz-drag-over
    outline: 1px solid black
.dropzone
    display: flex
    border: 1px 
    outline: 1px solid black
.hide
    transform: translateX(-9999px)

#dropzone1
    grid-area: dropzone1
    position: absolute
    left: 0
    width: 200px
    height: 600px
    background-color: mistyrose
#dropzone2
    grid-area: dropzone2
    position: absolute
    bottom: 0
    left:30%
    width: 600px
    height: 200px
    background-color: lightyellow
#dropzone3
    grid-area: dropzone3
    position: absolute
    right: 0
    width: 200px
    height: 600px
    background-color: powderblue

