#playfield
    display: flex
.tile
    width: 100px
    height: 200px
    display: flex
    flex-wrap: wrap
    border: 1px solid black
.symbols
    width: 50%
    display: flex
.symbols img
    width: 100%
.icons
    width: 50%
.icons img
    width: 100%
.icons-container
    display: flex
    height: 50px
.droparea:-moz-drag-over
    outline: 1px solid black
.dropzone
    width: 200px
    height: 300px
    border: 1px solid